.avatar-box {
//	background-color: red;
}

.avatar-icon {
    width: 48px;
    height: 48px;
}

.title-box {
//	background-color: pink;
	width:100%;
}

.title-name {
	margin-left: 10px;
	font-weight: bold;
	font-size: large;
	color: rgb(42, 90, 138);
}

.title-user {
	margin-left: 12px;
	margin-top: 10px;
	font-size: small;
	color: rgb(119, 119, 119);
}

.date-box {
	text-align: right;
	font-weight: bold;
	font-size: small;
	color: rgba(0, 39, 59, 0.34902);
}

.content-box {
    white-space: normal;
}

.title-table {
	width:100%;
    border-collapse: collapse;
}

.title-table td {
    padding: 0;
}

